<div data-turbolinks= false >
<div class="d-flex justify-content-center align-items-center pt-4" >
      <h1>Bill Printing</h1>
    </div>
    <br>
<ul>
<li><%= link_to "Flight Ticket", flight_path %></li>
<li><%= link_to "Train Ticket", train_path %></li>
<li><%= link_to "Money Transfer", money_path %></li>
<li><%= link_to "Others", other_path  %></li>
<li><a href="javascript:void[0]" id="reprint" >Re-Print</a></li>
<ul id="re-show" style="display: none;" >
  <li><%= link_to "Ticket", reprint_ticket_path %></li>
<li><%= link_to "Money Transfer", reprint_money_path %></li>
<li><%= link_to "Others", reprint_other_path  %></li>
</ul>

</ul>
</div>
<script>
  $(document).on('click','#reprint', function(){
    $("#re-show").show();
  })
</script>
